<app-navbar></app-navbar>
<div class="wrapper">
  <div class="app-sidebar"
       [ngClass]="{
         'small-sidebar': config.layout.sidebar.size == 'sm',
         'medium-sidebar': config.layout.sidebar.size == 'md',
         'large-sidebar': config.layout.sidebar.size == 'lg',
         'mini-sidebar': config.layout.sidebar.collapsed && isMenuCollapsedOnHover
       }"
       (mouseenter)="sidebarMouseenter()"
       (mouseleave)="sidebarMouseleave()"
  >
    <app-vertical-menu></app-vertical-menu>
  </div>
  <div class="main-panel">
    <div class="main-content">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>

<!--    <app-footer></app-footer>-->
    @if (isScrollTopVisible) {
      <button class="btn btn-primary scroll-top" type="button" (click)="scrollToTop()"><i-feather name="arrow-up" class=""></i-feather></button>
    }
  </div>
</div>

