<div class="wrapper">
  <div class="app-sidebar"
       [ngClass]="{
         'small-sidebar': config.layout.sidebar.size == 'sm',
         'medium-sidebar': config.layout.sidebar.size == 'md',
         'large-sidebar': config.layout.sidebar.size == 'lg',
         'mini-sidebar': config.layout.sidebar.collapsed && isMenuCollapsedOnHover
       }"
       (mouseenter)="sidebarMouseenter()"
       (mouseleave)="sidebarMouseleave()"
  >
    <app-vertical-menu></app-vertical-menu>
  </div>
  <div class="main-panel">
    <div class="main-content">
      <div class="content-wrapper">
        <p>full-layout works!</p>
        <i-feather name="github" class="someclass"></i-feather>
        <i-feather name="heart" style="color: green;"></i-feather>
        <i-feather name="camera"></i-feather>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

