<div class="row">
  <div class="col-12">
      <div class="content-header">Buttons</div>
  </div>
</div>

<!-- Basic Buttons start -->
<section id="basic-buttons">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Basic Buttons</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <!-- basic buttons -->
            <h6>Default</h6>
            <p>Use <code>.btn-&#123;color&#125;</code> along with <code>.btn</code> to create a button</p>
            <button type="button" class="btn btn-primary me-1 mb-1">Primary</button>
            <button type="button" class="btn btn-secondary me-1 mb-1">Secondary</button>
            <button type="button" class="btn btn-success me-1 mb-1">Success</button>
            <button type="button" class="btn btn-danger me-1 mb-1">Danger</button>
            <button type="button" class="btn btn-warning me-1 mb-1">Warning</button>
            <button type="button" class="btn btn-info me-1 mb-1">Info</button>
            <button type="button" class="btn btn-light me-1 mb-1">Light</button>
            <button type="button" class="btn btn-dark mb-1">Dark</button>
            <hr>
            <!-- round buttons -->
            <h6>Rounded</h6>
            <p>Use <code>.round</code> for round buttons</p>
            <button type="button" class="btn btn-primary round me-1 mb-1">Primary</button>
            <button type="button" class="btn btn-secondary round me-1 mb-1">Secondary</button>
            <button type="button" class="btn btn-success round me-1 mb-1">Success</button>
            <button type="button" class="btn btn-danger round me-1 mb-1">Danger</button>
            <button type="button" class="btn btn-warning round me-1 mb-1">Warning</button>
            <button type="button" class="btn btn-info round me-1 mb-1">Info</button>
            <button type="button" class="btn btn-light round me-1 mb-1">Light</button>
            <button type="button" class="btn btn-dark round mb-1">Dark</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Basic Buttons end -->

<!-- Basic Outline Buttons start -->
<section id="outline-buttons">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Outline Buttons</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <!-- basic buttons -->
            <h6>Default</h6>
            <p>Use <code>.btn-outline-&#123;color&#125;</code> to create an outline button</p>
            <button type="button" class="btn btn-outline-primary me-1 mb-1">Primary</button>
            <button type="button" class="btn btn-outline-secondary me-1 mb-1">Secondary</button>
            <button type="button" class="btn btn-outline-success me-1 mb-1">Success</button>
            <button type="button" class="btn btn-outline-danger me-1 mb-1">Danger</button>
            <button type="button" class="btn btn-outline-warning me-1 mb-1">Warning</button>
            <button type="button" class="btn btn-outline-info me-1 mb-1">Info</button>
            <button type="button" class="btn btn-outline-light me-1 mb-1">Light</button>
            <button type="button" class="btn btn-outline-dark mb-1">Dark</button>
            <hr>
            <!-- round buttons -->
            <h6>Rounded</h6>
            <p>Use <code>.round</code> with outline button to create round outline button</p>
            <button type="button" class="btn btn-outline-primary round me-1 mb-1">Primary</button>
            <button type="button" class="btn btn-outline-secondary round me-1 mb-1">Secondary</button>
            <button type="button" class="btn btn-outline-success round me-1 mb-1">Success</button>
            <button type="button" class="btn btn-outline-danger round me-1 mb-1">Danger</button>
            <button type="button" class="btn btn-outline-warning round me-1 mb-1">Warning</button>
            <button type="button" class="btn btn-outline-info round me-1 mb-1">Info</button>
            <button type="button" class="btn btn-outline-light round me-1 mb-1">Light</button>
            <button type="button" class="btn btn-outline-dark round mb-1">Dark</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Basic Outline Buttons end -->

<!-- Light Buttons starts -->
<section id="light-buttons">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Light Style</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <h6>Default</h6>
            <p>Use <code>.bg-light-&#123;color&#125;</code> to create light buttons</p>
            <button type="button" class="btn btn-primary bg-light-primary me-1 mb-1">Primary</button>
            <button type="button" class="btn btn-secondary bg-light-secondary me-1 mb-1">Secondary</button>
            <button type="button" class="btn btn-success bg-light-success me-1 mb-1">Success</button>
            <button type="button" class="btn btn-danger bg-light-danger me-1 mb-1">Danger</button>
            <button type="button" class="btn btn-warning bg-light-warning me-1 mb-1">Warning</button>
            <button type="button" class="btn btn-info bg-light-info mb-1">Info</button>
            <hr>
            <h6>Rounded</h6>
            <p>Use <code>.round</code> with light button to create round light button</p>
            <button type="button" class="btn btn-primary bg-light-primary round me-1 mb-1">Primary</button>
            <button type="button" class="btn btn-secondary bg-light-secondary round me-1 mb-1">Secondary</button>
            <button type="button" class="btn btn-success bg-light-success round me-1 mb-1">Success</button>
            <button type="button" class="btn btn-danger bg-light-danger round me-1 mb-1">Danger</button>
            <button type="button" class="btn btn-warning bg-light-warning round me-1 mb-1">Warning</button>
            <button type="button" class="btn btn-info bg-light-info round mb-1">Info</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Light Buttons ends -->

<!-- Basic Button Icon start -->
<section id="basic-button-icons">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Buttons with Icon </h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <button type="button" class="btn btn-outline-info me-2 mb-1">
              <i-feather name="info" class=" me-1"></i-feather>
              Info
            </button>
            <button type="button" class="btn btn-warning me-2 mb-1">
              <i-feather name="camera" class=" me-1"></i-feather>
              Warning
            </button>
            <button type="button" class="btn btn-success bg-light-success mb-1">
              <i-feather name="home" class=" me-1"></i-feather>
              Home
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Basic Button Icon end -->

<!-- Icon Buttons start -->
<section id="icons-buttons">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Icon Buttons</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <p>Use <code>.btn-icon</code> for icon buttons and <code>.btn-icon.round</code> for round icon buttons</p>
            <button type="button" class="btn btn-outline-info me-1 mb-1"><i-feather name="search" class=""></i-feather></button>
            <button type="button" class="btn btn-warning me-1 mb-1"><i-feather name="camera" class=""></i-feather></button>
            <button type="button" class="btn btn-success bg-light-success me-3 mb-1"><i-feather name="heart" class=""></i-feather></button>
            <button type="button" class="btn btn-outline-info btn-icon round me-1 mb-1"><i-feather name="search" class=""></i-feather></button>
            <button type="button" class="btn btn-warning btn-icon round me-1 mb-1"><i-feather name="camera" class=""></i-feather></button>
            <button type="button" class="btn btn-success bg-light-success btn-icon round me-1 mb-1"><i-feather name="heart" class=""></i-feather></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Icon Buttons end -->

<!-- Basic Button group start -->
<section id="basic-button-group">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Basic Button group</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <p>Group a series of buttons together on a single line with the button group. Wrap a series of buttons with <code>.btn</code> in <code>.btn-group</code></p>
            <div class="row">
              <div class="col-12 col-md-6 mb-2 mb-md-0">
                <!-- button group -->
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-primary">Left</button>
                  <button type="button" class="btn btn-outline-primary">Middle</button>
                  <button type="button" class="btn btn-outline-primary">Right</button>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <!-- icon button group -->
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-primary"><i-feather name="facebook" class=""></i-feather></button>
                    <button type="button" class="btn btn-primary"><i-feather name="twitter" class=""></i-feather></button>
                    <button type="button" class="btn btn-outline-primary"><i-feather name="instagram" class=""></i-feather></button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Basic Button group end -->

<!-- Sizes starts -->
<section id="sizes-button">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Sizes</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <h6>Buttons</h6>
            <div class="row">
              <!-- button sizes -->
              <div class="col-12 col-md-6 mb-2 mb-md-0">
                <p>Add <code>.btn-lg</code> or <code>.btn-sm</code> for Fancy larger or smaller buttons size</p>
                <button type="button" class="btn btn-lg btn-primary me-1 mb-2 mb-md-0">Large</button>
                <button type="button" class="btn btn-primary me-1">Default</button>
                <button type="button" class="btn btn-sm btn-primary">Small</button>
              </div>
              <!-- outline button sizes -->
              <div class="col-12 col-md-6">
                <p>Add <code>.btn-lg</code> or <code>.btn-sm</code> with <code>.btn-outline</code> for Fancy larger or smaller outline buttons sizes</p>
                <button type="button" class="btn btn-lg btn-outline-primary me-1">Large</button>
                <button type="button" class="btn btn-outline-primary me-1">Default</button>
                <button type="button" class="btn btn-sm btn-outline-primary">Small</button>
              </div>
            </div>
            <hr>
            <h6>Button Groups</h6>
            <div class="row">
              <!-- button group large size -->
              <div class="col-12 col-md-6 mb-2 mb-md-0">
                <p>Add <code>.btn-group-lg</code> for larger button group size</p>
                <div class="btn-group btn-group-lg" role="group">
                  <button type="button" class="btn btn-primary mb-2 mb-md-0">Schedule</button>
                  <button type="button" class="btn btn-outline-primary mb-2 mb-md-0">Publish</button>
                </div>
              </div>
              <!-- button group small size -->
              <div class="col-12 col-md-6">
                <p>Add <code>.btn-group-sm</code> for smaller button group size</p>
                <div class="btn-group btn-group-sm" role="group">
                  <button type="button" class="btn btn-primary">Male</button>
                  <button type="button" class="btn btn-outline-primary">Female</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Sizes ends -->

<!-- Block level buttons start -->
<section id="block-level-buttons">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Block Level Buttons</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <p>Create block level buttons—those that span the full width of a parent — by adding <code>.btn-block</code></p>
            <div class="row">
              <!-- block button -->
              <div class="col-12 col-md-6 mb-2 mb-md-0">
                <button type="button" class="btn btn-primary btn-block">Block Level Button</button>
              </div>
              <!-- block outline button -->
              <div class="col-12 col-md-6">
                <button type="button" class="btn btn-outline-primary btn-block">Block Level Button</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Block level buttons ends -->

<!-- Vertical variation starts -->
<section id="vertical-variation">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Vertical variation</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <p>Use <code>.btn-group-vertical</code> in the parent element of the buttons to create vertical button group</p>
            <div class="row">
              <div class="col-md-4 col-12 mb-3 mb-md-0">
                <h6>Vertical variation with different colors</h6>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                  <button type="button" class="btn btn-primary">Primary</button>
                  <button type="button" class="btn btn-secondary">Secondary</button>
                  <button type="button" class="btn btn-success">Success</button>
                  <button type="button" class="btn btn-danger">Danger</button>
                  <button type="button" class="btn btn-warning">Warning</button>
                  <button type="button" class="btn btn-info">Info</button>
                </div>
              </div>
              <div class="col-md-4 col-12 mb-3 mb-md-0">
                <h6>Vertical variation with Outlines</h6>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                  <button type="button" class="btn btn-outline-primary">Primary</button>
                  <button type="button" class="btn btn-outline-secondary">Secondary</button>
                  <button type="button" class="btn btn-outline-success">Success</button>
                  <button type="button" class="btn btn-outline-danger">Danger</button>
                  <button type="button" class="btn btn-outline-warning">Warning</button>
                  <button type="button" class="btn btn-outline-info">Info</button>
                </div>
              </div>
              <div class="col-md-4 col-12">
                <h6>Vertical variation with Light Background</h6>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                  <button type="button" class="btn btn-primary bg-light-primary">Primary</button>
                  <button type="button" class="btn btn-secondary bg-light-secondary">Secondary</button>
                  <button type="button" class="btn btn-success bg-light-success">Success</button>
                  <button type="button" class="btn btn-danger bg-light-danger">Danger</button>
                  <button type="button" class="btn btn-warning bg-light-warning">Warning</button>
                  <button type="button" class="btn btn-info bg-light-info">Info</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Vertical variation ends -->

<!-- Gradient Button starts -->
<section id="gradient-buttons">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Gradients</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-12 mb-3 mb-md-0">
                <h6>Gradient Buttons</h6>
                <div class="mb-2">
                  <button type="button" class="btn gradient-purple-bliss">Button</button>
                  <span class="ms-2"><code>.gradient-purple-bliss</code></span>
                </div>
                <div class="mb-2">
                  <button type="button" class="btn gradient-mint">Button</button>
                  <span class="ms-2"><code>.gradient-mint</code></span>
                </div>
                <div class="mb-2">
                  <button type="button" class="btn gradient-pomegranate">Button</button>
                  <span class="ms-2"><code>.gradient-pomegranate</code></span>
                </div>
                <div class="mb-2">
                  <button type="button" class="btn gradient-ibiza-sunset">Button</button>
                  <span class="ms-2"><code>.gradient-ibiza-sunset</code></span>
                </div>
                <div>
                  <button type="button" class="btn gradient-king-yna">Button</button>
                  <span class="ms-2"><code>.gradient-king-yna</code></span>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <h6>Gradient Buttons With Shadow</h6>
                <div class="mb-2">
                  <button type="button" class="btn gradient-purple-bliss shadow-z-1-hover">Button with Shadow</button>
                  <span class="ms-2"><code>.shadow-z-1-hover</code></span>
                </div>
                <div class="mb-2">
                  <button type="button" class="btn gradient-mint shadow-z-4">Button with Shadow</button>
                  <span class="ms-2"><code>.shadow-z-4</code></span>
                </div>
                <div class="mb-2">
                  <button type="button" class="btn gradient-pomegranate big-shadow">Button with Shadow</button>
                  <span class="ms-2"><code>.big-shadow</code></span>
                </div>
                <div class="mb-2">
                  <button type="button" class="btn gradient-ibiza-sunset sidebar-shadow">Button with Shadow</button>
                  <span class="ms-2"><code>.sidebar-shadow</code></span>
                </div>
                <div>
                  <button type="button" class="btn gradient-king-yna card-shadow">Button with Shadow</button>
                  <span class="ms-2"><code>.card-shadow</code></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Gradient Button ends -->

<!-- Social Media button starts -->
<section id="social-buttons">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Social Media Buttons</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-6 mb-2 mb-md-0">
                <h6>Default Buttons</h6>
                <p>Use <code>.btn-social</code> and <code>.btn-&#123;social-media&#125;</code> like <code>.btn-facebook</code> for social buttons with icons. Add <code>.round</code> for round button.</p>
                <p>
                  <button type="button" class="btn btn-social btn-facebook me-2"><i-feather name="facebook" class=""></i-feather>Facebook</button>
                  <button type="button" class="btn btn-social btn-twitter"><i-feather name="twitter" class=""></i-feather>Twitter</button>
                </p>
                <p>
                  <button type="button" class="btn btn-social btn-google round me-2"><i-feather name="google" class=""></i-feather>Google</button>
                  <button type="button" class="btn btn-social btn-instagram round"><i-feather name="instagram" class=""></i-feather>Instagram</button>
                </p>
              </div>
              <div class="col-12 col-md-6">
                <h6>Outline Buttons</h6>
                <p>Use <code>.btn-social</code> and <code>.btn-outline-&#123;social-media&#125;</code> like <code>.btn-outline-linkedin</code> for social buttons with icons. Add <code>.round</code> for round button.</p>
                <p>
                  <button type="button" class="btn btn-social btn-outline-linkedin me-2"><i-feather name="linkedin" class=""></i-feather>LinkedIn</button>
                  <button type="button" class="btn btn-social btn-outline-reddit"><i-feather name="reddit" class=""></i-feather>Reddit</button>
                </p>
                <p>
                  <button type="button" class="btn btn-social btn-outline-pinterest round me-2"><i-feather name="pinterest" class=""></i-feather>Pinterest</button>
                  <button type="button" class="btn btn-social btn-outline-dropbox round"><i-feather name="dropbox" class=""></i-feather>Dropbox</button>
                </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-12 col-md-6 mb-2 mb-md-0">
                <h6>Default Icon Buttons</h6>
                <p>Use <code>.btn-social-icon</code> and <code>.btn-&#123;social-media&#125;</code> like <code>.btn-facebook</code> for social icon buttons. Add <code>.round</code> for round button.</p>
                <p>
                  <button type="button" class="btn btn-social-icon btn-facebook me-2"><i-feather name="facebook" class=""></i-feather></button>
                  <button type="button" class="btn btn-social-icon btn-twitter me-2"><i-feather name="twitter" class=""></i-feather></button>
                  <button type="button" class="btn btn-social-icon btn-google round me-2"><i-feather name="google" class=""></i-feather></button>
                  <button type="button" class="btn btn-social-icon btn-instagram round"><i-feather name="instagram" class=""></i-feather></button>
                </p>
              </div>
              <div class="col-12 col-md-6">
                <h6>Outline Icon Buttons</h6>
                <p>Use <code>.btn-social-icon</code> and <code>.btn-outline-&#123;social-media&#125;</code> like <code>.btn-outline-linkedin</code> for social icon buttons. Add <code>.round</code> for round button.</p>
                <p>
                  <button type="button" class="btn btn-social-icon btn-outline-linkedin me-2"><i-feather name="linkedin" class=""></i-feather></button>
                  <button type="button" class="btn btn-social-icon btn-outline-reddit me-2"><i-feather name="reddit" class=""></i-feather></button>
                  <button type="button" class="btn btn-social-icon btn-outline-pinterest round me-2"><i-feather name="pinterest" class=""></i-feather></button>
                  <button type="button" class="btn btn-social-icon btn-outline-dropbox round"><i-feather name="dropbox" class=""></i-feather></button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Social Media button ends -->
