<div class="upload-container">
  <div class="d-flex">
    <div class="file-main-block">
      <span class="text-bold-500">{{title}}</span>
      <span class="text-muted text-bold-400 font-small-3 mb-2">Drag and drop files here</span>
      <div>
        <button
          type="button"
          class="btn btn-lg btn-primary mr-1 mb-2 mb-md-0"
          (click)="uploadFileInput.click()"
        >{{!multiple && !isEmpty() ? 'Replace' : 'Browse'}}</button>
      </div>
      <input
        #uploadFileInput
        type="file"
        id="upload-file"
        [attr.multiple]="multiple ? '' : null"
        [accept]="accept"
        (change)="uploadFile($event)"
      >
    </div>
    @if (!isShort) {
      <div class="drag-drop-zone" [ngClass]="{'has-image' : type == 'image' && !multiple && !isEmpty()}">
        @if (type == 'image') {
          <div class="image-data" [ngStyle]="{'background-image': type == 'image' && !multiple && !isEmpty() ? 'url(' + uploadFiles[0].data64 + ')' : ''}">
          </div>
        }
        <div class="card-image-overlay">
            @if (!(type == 'image' && !multiple && !isEmpty())) {
              <i-feather [name]="icons[type]" class="file-icon-upload-type"></i-feather>
            } @else {
              <i-feather name="x" class="file-icon-upload-type ft-x" (click)="removeFile(0)"></i-feather>
            }
        </div>
      </div>
    }
  </div>
</div>
@if (!(!multiple && type == 'image') && !isShort) {
  <ul class="list-file">
    @for (attachment of uploadFiles; track attachment) {
        <li [ngClass]="{'uploading' : attachment.isUploading, 'upload-success': attachment.isSuccess}" class="li-file">
          <div class="status-icon">
            <i-feather [name]="attachment.isSuccess ? 'check' : 'refresh-ccw'" class="me-2 status-file"
                       [ngClass]="{'text-warning' : (!attachment.isSuccess && (attachment.isUploading || (attachment.isReady && !attachment.isError && !attachment.isCancel))),
                       'text-success': attachment.isSuccess}"
            ></i-feather>
          </div>

          <div class="full-width">
            <span>{{attachment?.nameWithoutExtension ?? attachment?.file?.name}}</span>
            @if (attachment.isUploading) {
              <span class="text-muted font-small-1">Uploading...</span>
            }
            @if (!attachment.isSuccess && attachment.isReady && !attachment.isError && !attachment.isCancel && !attachment.isUploading && !attachment.isUploaded) {
              <span class="text-muted font-small-1">Queue...</span>
            }
          </div>
          <i-feather name="x-circle" class="text-danger ms-2 cursor-pointer"  (click)="openModalContent(deleteModal, $index)"></i-feather>
          <i-feather name="menu" class="drag-icon"></i-feather>
          @if (attachment.isUploading) {
            <div class="loading-progress" [ngStyle]="{'width': attachment?.progress + '%'}"></div>
          }
        </li>
    }
  </ul>
}


<ng-template #deleteModal let-c="close" let-d="dismiss">
  <div class="modal-body form-edit-block">
    <h6>Are you sure you want to delete this song?</h6>
    <span>This can't be undone.</span>
  </div>
  <div class="modal-footer">
    <div class="full-width d-flex justify-content-end">
      <button class="btn btn-primary" (click)="d('')">
        NO
      </button>
      <button type="button" class="btn btn-light" (click)="removeFile(deletingFile)">
        YES
      </button>
    </div>
  </div>
</ng-template>
