i-feather {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

@for $i from 1 through 50 {
  $base: 2;
  $size: $base * $i;
  .size-#{$size} {
    width: $size + 0px !important;
    height: $size + 0px !important;;
  }
}
